.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 60px;
  margin-bottom: 40px;
}

.grid-container > div {
  background-color: #93c47d;
  text-align: center;
  padding: 20px 0;
}
